<h1>Investments</h1>

<table>
  <thead>
    <tr>
      <th>Ticker</th>
      <th>Shares Purchased</th>
      <th>Cost Per Share</th>
      <th>Buy Date</th>
      <th>Sell Date</th>
    </tr>
  </thead>
  <tbody>
    <% @investments.each do |investment| %>
      <tr>
        <td><%= investment.ticker %></td>
        <td><%= investment.shares_purchased %></td>
        <td><%= investment.cost_per_share %></td>
        <td><%= investment.buy_date %></td>
        <td><%= investment.sell_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>